NODE_ENV=development
JWT_SECRET=replace-with-a-long-random-string
RABBITMQ_URL=amqp://guest:guest@localhost:5672
RABBITMQ_EXCHANGE=domain_events
RABBITMQ_WORKER_QUEUE=main_worker_queue
RABBITMQ_DLX=domain_events.dlx
RABBITMQ_DLQ=main_worker_queue.dlq
DATABASE_HOSTNAME=localhost
DATABASE_USERNAME=postgres
DATABASE_PASSWORD=password
DATABASE_NAME=nestjs-starter-template-db
DATABASE_PORT=5432
